@import url("vitepress-plugin-toolkit/styles/tab-switch.css");

.vp-plantuml-fullscreen {
  position: fixed;
  inset: 0;
  z-index: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  background-color: color-mix(in srgb, var(--vp-c-bg) 10%, transparent);
  backdrop-filter: blur(4px);
}

.vp-plantuml-fullscreen > img {
  max-width: 100%;
  background-color: var(--vp-c-bg);
  border-radius: 8px;
  box-shadow: var(--vp-shadow-3);
  transition: background-color 0.25s ease-in-out;
}

.vp-plantuml {
  display: flex;
  flex-direction: column;
  margin-block: 16px;
  margin-inline: -24px;
  overflow: hidden;
  background: var(--vp-code-block-bg);
}

@media (min-width: 640px) {
  .vp-plantuml {
    margin-inline: 0;
    border-radius: 8px;
  }
}

html:not(.dark) .vp-plantuml img.dark,
html.dark .vp-plantuml img.light {
  display: none;
}

.vp-plantuml .plantuml-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 4px;
  padding-inline: 8px;
  background: var(--vp-code-block-bg);
}

.vp-plantuml .plantuml-actions {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

@media (min-width: 640px) {
  .vp-plantuml .plantuml-actions {
    opacity: 0;
  }
}

.vp-plantuml:hover .plantuml-actions {
  opacity: 1;
}

.vp-plantuml .plantuml-actions button {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  padding-inline: 4px;
  background-color: transparent;
  border-radius: 12px;
  transition: background-color 0.25s ease-in-out;
}

.vp-plantuml .plantuml-actions button:hover {
  background-color: var(--vp-c-gray-soft);
}

@media (max-width: 639px) {
  .vp-plantuml .plantuml-actions button.fullscreen {
    display: none;
  }
}

.vp-plantuml .plantuml-view {
  max-width: 100%;
  max-height: calc(100vh - 58px - var(--vp-nav-height) - var(--vp-layout-top-height, 0px));
  padding-block: 12px;
  overflow: auto;
  text-align: center;
}

.vp-plantuml .plantuml-view img {
  display: inline-block;
}

.vp-plantuml .plantuml-source div[class*="language-"] {
  margin: 0;
}

.vp-plantuml .vpi-download {
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
}

.vp-plantuml .vpi-fullscreen {
  display: inline-block;
}
