@import url("vitepress-plugin-toolkit/styles/copy-button.css");

:root {
  --vp-file-tree-bg: var(--vp-code-block-bg);

  --vp-file-tree-icon-arrow: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='m5.157 13.069l4.611-4.685a.546.546 0 0 0 0-.768L5.158 2.93a.55.55 0 0 1 0-.771a.53.53 0 0 1 .759 0l4.61 4.684a1.65 1.65 0 0 1 0 2.312l-4.61 4.684a.53.53 0 0 1-.76 0a.55.55 0 0 1 0-.771'/%3E%3C/svg%3E");
  --vp-file-tree-icon-file: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23c5c5c5' d='M20.414 2H5v28h22V8.586ZM7 28V4h12v6h6v18Z'/%3E%3C/svg%3E");
  --vp-file-tree-icon-folder: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23c09553' d='M27.5 5.5h-9.3l-2.1 4.2H4.4v16.8h25.2v-21Zm0 4.2h-8.2l1.1-2.1h7.1Z'/%3E%3C/svg%3E");
  --vp-file-tree-icon-folder-expanded: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 32 32'%3E%3Cpath fill='%23dcb67a' d='M27.4 5.5h-9.2l-2.1 4.2H4.3v16.8h25.2v-21Zm0 18.7H6.6V11.8h20.8Zm0-14.5h-8.2l1-2.1h7.1v2.1Z'/%3E%3Cpath fill='%23dcb67a' d='M25.7 13.7H.5l3.8 12.8h25.2z'/%3E%3C/svg%3E");
}

.vp-file-tree {
  position: relative;
  max-width: 100%;
  overflow: auto hidden;
  font-size: 14px;
  background-color: var(--vp-file-tree-bg);
  border: solid 1px var(--vp-c-divider);
  border-radius: 8px;
  transition: border 0.25s ease, background-color 0.25s ease;
}

.vp-file-tree .vp-file-tree-title {
  padding-inline: 16px;
  margin-block: 0;
  font-weight: bold;
  line-height: 47px;
  color: var(--vp-c-text-1);
  border-bottom: solid 1px var(--vp-c-divider);
  transition: color 0.25s ease, border-color 0.25s ease;
}

.vp-file-tree .vp-file-tree-title + .vp-copy {
  top: calc(45px + 1em) !important;
}

.vp-file-tree .file-tree-content {
  padding: 16px;
}

.vp-file-tree .vp-file-tree-info {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  min-width: max-content;
  height: 28px;
  padding-block: 2px;
  margin-block: 0;
  margin-inline-start: 16px;
  line-height: 24px;
  text-wrap: nowrap;
}

.vp-file-tree .vp-file-tree-info::after {
  position: absolute;
  top: 0;
  right: -16px;
  bottom: 0;
  left: calc(var(--file-tree-level) * 10.5px - 32px);
  z-index: 0;
  display: block;
  pointer-events: none;
  content: "";
  background-color: transparent;
  transition: background-color 0.25s ease;
}

.vp-file-tree .vp-file-tree-info.active::after,
.vp-file-tree .vp-file-tree-info:not(.diff):hover::after {
  background-color: var(--vp-c-default-soft);
}

.vp-file-tree .vp-file-tree-info.diff::after {
  padding-inline-start: 4px;
  font-size: 1.25em;
}

.vp-file-tree .vp-file-tree-info.diff.add::after {
  color: var(--vp-c-success-1);
  content: "+";
  background-color: var(--vp-c-success-soft);
}

.vp-file-tree .vp-file-tree-info.diff.remove::after {
  padding-inline-start: 6px;
  color: var(--vp-c-danger-1);
  content: "-";
  background-color: var(--vp-c-danger-soft);
}

.vp-file-tree .vp-file-tree-info.folder {
  cursor: pointer;
}

.vp-file-tree .vp-file-tree-info.folder::before {
  position: absolute;
  top: 8px;
  left: -16px;
  display: block;
  width: 12px;
  height: 12px;
  color: var(--vp-c-text-2);
  cursor: pointer;
  content: "";
  background-color: currentcolor;
  -webkit-mask: var(--vp-file-tree-icon-arrow) no-repeat;
  mask: var(--vp-file-tree-icon-arrow) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition: color 0.25s ease, transform 0.25s ease;
  transform: rotate(0);
}

.vp-file-tree .vp-file-tree-info.folder.expanded::before {
  transform: rotate(90deg);
}

.vp-file-tree .vp-file-tree-info .name {
  position: relative;
  flex-shrink: 99;
  min-width: 0;
  font-family: var(--vp-font-family-mono);
}

.vp-file-tree .vp-file-tree-info.folder .name {
  color: var(--vp-c-text-1);
  transition: color 0.25s ease;
}

.vp-file-tree .vp-file-tree-info.focus .name {
  padding-inline: 4px;
  margin-block: 0;
  margin-inline: -4px;
  font-weight: bold;
  color: var(--vp-c-bg);
  background-color: var(--vp-c-brand-2);
  border-radius: 4px;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.vp-file-tree .vp-file-tree-info.active .name {
  color: var(--vp-c-brand-1);
}

.vp-file-tree .vp-file-tree-info:not(.focus).folder .name:hover {
  color: var(--vp-c-brand-1);
}

.vp-file-tree .vp-file-tree-info .comment {
  display: inline-block;
  flex: 1 2;
  height: 28px;
  padding-inline: 20px 16px;
  margin-block: -2px;
  line-height: 28px;
  color: var(--vp-c-text-3);
  cursor: auto;
  transition: color 0.25s ease;
}

.vp-file-tree .vp-file-tree-node .group {
  position: relative;
  min-width: max-content;
  margin-inline-start: 10px;
}

.vp-file-tree .vp-file-tree-node .group::before {
  position: absolute;
  top: 0;
  left: -4.5px;
  width: 1px;
  height: 100%;
  content: "";
  background-color: var(--vp-c-divider);
  transition: background-color 0.25s ease;
}

.vp-file-tree .vp-icon {
  width: 1.2em;
  height: 1.2em;
  margin: 0;
}

.vp-file-tree .vp-icon:where(.file) {
  --icon: var(--vp-file-tree-icon-file);
}

.vp-file-tree .vp-icon:where(.folder) {
  --icon: var(--vp-file-tree-icon-folder);
}

.vp-file-tree .vp-icon:where(.expanded.folder) {
  --icon: var(--vp-file-tree-icon-folder-expanded);
}
