.vp-qrcode {
  --vp-qrcode-size: 128px;

  margin-block: 16px;
  margin-inline: 0;
  overflow: hidden;
}

@media (min-width: 768px) {
  .vp-qrcode {
    --vp-qrcode-size: 150px;
  }
}

.vp-qrcode:not(.card).center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vp-qrcode:not(.card).right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.vp-qrcode .qrcode-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  overflow: hidden;
}

.vp-qrcode .qrcode-label {
  font-size: 14px;
  color: var(--vp-c-text-2);
  text-align: center;
  word-break: break-all;
}

.vp-qrcode.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  padding-block: 16px;
  padding-inline: 20px;
  background-color: var(--vp-c-bg-soft);
  border-radius: 8px;
}

.vp-qrcode .qrcode-img {
  width: var(--vp-qrcode-size);
  max-width: 100%;
  height: var(--vp-qrcode-size);
  aspect-ratio: 1/1;
}

.vp-qrcode.card .qrcode-img {
  margin: 0;
}

.vp-qrcode .qrcode-info {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
  text-align: center;
}

.vp-qrcode .qrcode-info > p {
  margin: 0;
  word-break: break-all;
}

.vp-qrcode .qrcode-info .qrcode-title {
  font-weight: 600;
}

@media (min-width: 960px) {
  .vp-qrcode.card {
    flex-direction: row;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .vp-qrcode.card .qrcode-info {
    align-self: center;
    text-align: left;
  }

  .vp-qrcode.card:where(.reverse, .right) {
    flex-direction: row-reverse;
  }

  .vp-qrcode.card:where(.reverse, .right) .qrcode-info {
    text-align: right;
  }

  .vp-qrcode.card.center {
    align-items: center;
  }

  .vp-qrcode.card.center .qrcode-info {
    flex: initial;
  }
}
