@import url("vitepress-plugin-toolkit/styles/loading.css");
@import url("vitepress-plugin-toolkit/styles/tab-switch.css");

.vp-mermaid {
  display: flex;
  flex-direction: column;
  margin-block: 16px;
  margin-inline: -24px;
  overflow: hidden;
  background: var(--vp-code-block-bg);
}

@media (min-width: 640px) {
  .vp-mermaid {
    margin-inline: 0;
    border-radius: 8px;
  }
}

.vp-mermaid .mermaid-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-block: 4px;
  padding-inline: 8px;
  background: var(--vp-code-block-bg);
}

.vp-mermaid .mermaid-actions {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

@media (min-width: 640px) {
  .vp-mermaid .mermaid-actions {
    gap: 8px;
    opacity: 0;
  }
}

.vp-mermaid:hover .mermaid-actions {
  opacity: 1;
}

.vp-mermaid .mermaid-actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding-inline: 2px;
  font-size: 12px;
  background-color: transparent;
  border-radius: 12px;
  transition: background-color 0.25s ease-in-out;
}

.vp-mermaid .mermaid-actions button:hover {
  background-color: var(--vp-c-gray-soft);
}

@media (min-width: 640px) {
  .vp-mermaid .mermaid-actions button {
    gap: 2px;
    min-width: 24px;
    height: 24px;
    padding-inline: 4px;
    font-size: 14px;
  }
}

@media (max-width: 639px) {
  .vp-mermaid .mermaid-actions button.fullscreen {
    display: none;
  }
}

.vp-mermaid .mermaid-view {
  position: relative;
  max-width: 100%;
  min-height: 150px;
  max-height: 50vh;
  padding-block: 12px;
  overflow: hidden;
  text-align: center;
  background: var(--vp-code-block-bg);
}

@media (min-width: 640px) {
  .vp-mermaid .mermaid-view {
    max-height: calc(100vh - 58px - var(--vp-nav-height) - var(--vp-layout-top-height, 0px));
  }
}

.vp-mermaid .mermaid-view .content {
  position: absolute;
  width: max-content;
  overflow: hidden;
  will-change: width, height, top, left;
}

.vp-mermaid .mermaid-view .content.zooming {
  transition: 0.25s ease-in-out;
  transition-property: width, height, top, left;
}

.vp-mermaid .mermaid-view .content > svg {
  width: 100%;
  height: 100%;
}

.vp-mermaid .mermaid-view .content > svg p {
  line-height: 24px;
}

.vp-mermaid .mermaid-zoom {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding-block: 4px;
  padding-inline: 8px;
  background-color: var(--vp-c-bg);
  border-radius: 4px;
  box-shadow: var(--vp-shadow-3);
}

.vp-mermaid .mermaid-zoom.fullscreen {
  right: 50%;
  bottom: 24px;
  font-size: 18px;
  transform: translateX(50%);
}

.vp-mermaid .mermaid-zoom > :where(button, span) {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding-inline: 2px;
  font-size: inherit;
}

.vp-mermaid .mermaid-zoom > span {
  width: 48px;
  text-align: right;
}

.vp-mermaid .mermaid-zoom.fullscreen > span {
  width: 64px;
}

.vp-mermaid .mermaid-source div[class*="language-"] {
  margin: 0;
}

.vp-mermaid [class*="vpi-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.vp-mermaid .vpi-download {
  width: 1.1em;
  height: 1.1em;
}
