@import url("vitepress-plugin-toolkit/styles/transition/fade-in.css");

.vp-annotation {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10a10 10 0 0 1-4.262-.951l-4.537.93a1 1 0 0 1-1.18-1.18l.93-4.537A10 10 0 0 1 2 12m10-4a1 1 0 0 1 1 1v2h2a1 1 0 1 1 0 2h-2v2a1 1 0 1 1-2 0v-2H9a1 1 0 1 1 0-2h2V9a1 1 0 0 1 1-1' clip-rule='evenodd'/%3E%3C/svg%3E");

  position: relative;
  top: -2px;
  z-index: 10;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: currentcolor;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
  transition: 0.25s ease-in-out;
  transition-property: color, opacity, transform;
  transform: rotate(0deg);
}

@media print {
  .vp-annotation {
    display: none;
  }
}

.vp-annotation:where(:hover, .active) {
  color: var(--vp-c-brand-2) !important;
  opacity: 1;
}

.vp-annotation.active.top {
  transform: rotate(135deg);
}

.vp-annotation.active.left {
  transform: rotate(45deg);
}

.vp-annotation.active.bottom {
  transform: rotate(-45deg);
}

.vp-annotation.active.right {
  transform: rotate(-135deg);
}

.vp-annotation-popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: max-content;
  max-width: min(calc(100vw - 32px), 360px);
  max-height: 360px;
  padding-block: 8px;
  padding-inline: 12px;
  overflow: auto;
  font-size: 14px;
  font-weight: normal;
  background-color: var(--vp-c-bg);
  border: solid 1px var(--vp-c-divider);
  border-radius: 8px;
  box-shadow: var(--vp-shadow-2);
}

.vp-annotation-popover.group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  background-color: var(--vp-c-bg-soft);
}

.vp-annotation-popover.group .annotation {
  padding-block: 4px;
  padding-inline: 12px;
  background-color: var(--vp-c-bg);
  border-radius: 4px;
  box-shadow: var(--vp-shadow-1);
}

.vp-annotation-popover p {
  margin-block: 12px;
  margin-inline: 0;
  line-height: 24px;
}

.vp-annotation-popover :first-child {
  margin-block-start: 4px;
}

.vp-annotation-popover :last-child {
  margin-block-end: 4px;
}

.vp-annotation-popover.group :first-child {
  margin-block-start: 8px;
}

.vp-annotation-popover.group :last-child {
  margin-block-end: 8px;
}
